/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

:root {
  /* Colors: */
  --typecolor: #ffffff;
  --grey: #ededed;
  --black: #000000;
  --lighterbrown: #796759;
  --backgroundbrown: #625042;
  --highlighto: #e45b04;

  /* Font/text values */
  --font-family-candara: Candara;
  --font-family-oxygen: Oxygen;
  --font-style-normal: normal;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-size-10: 10px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-42: 42px;
  --character-spacing-0: 0px;
  --line-spacing-15: 15px;
  --line-spacing-21: 21px;
  --line-spacing-24: 24px;
  --line-spacing-30: 30px;
  --line-spacing-53: 53px;
}

/* Character Styles */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 25em;
  background-size: cover;
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10em;
  background-size: cover;
}
h1 {
  font-size: var(--font-size-42);
  font-family: var(--font-family-oxygen);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-42);
  line-height: var(--line-spacing-53);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
}

p {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-21);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
}
.samlltext {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-10);
  line-height: var(--line-spacing-15);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
}
h2 {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-30);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
}
.subheading16mobile {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
}

body {
  background-color: var(--backgroundbrown);
  margin: 0;
}
footer {
  background-color: var(--lighterbrown);
}
.highlight {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-30);
  letter-spacing: var(--character-spacing-0);
  color: var(--highlighto);
}

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

he .button {
  text-decoration: none;
  color: typecolor;
  background-color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 23rem;
  transition: transform 1s;
}

.button:hover {
  background-color: rgb(177, 115, 1);
  transform: scale(1.1);
}

.button:active {
  background-color: rgb(58, 40, 7);
}
