/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

:root {
  /* Colors: */
  --typecolor: #ffffff;
  --grey: #ededed;
  --black: #000000;
  --lighterbrown: #ac9482;
  --backgroundbrown: #625042;
  --highlighto: #e45b04;

  /* Font/text values */
  --font-family-candara: Candara;
  --font-family-oxygen: Oxygen;
  --font-style-normal: normal;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-size-10: 10px;
  --font-size-20: 20px;
  --font-size-42: 42px;
  --character-spacing-0: 0px;
  --line-spacing-15: 15px;
  --line-spacing-21: 21px;
  --line-spacing-24: 24px;
  --line-spacing-30: 30px;
  --line-spacing-53: 53px;
  --padding: 0 1em;
}

/* Character Styles */
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 25em;
  background-size: cover;
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10em;
  background-size: cover;
}
h1 {
  font-size: var(--font-size-42);
  font-family: var(--font-family-oxygen);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-42);
  line-height: var(--line-spacing-53);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
  text-shadow: 0.1rem 0.08rem var(--lighterbrown);
}

body {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: 1rem;
  line-height: var(--line-spacing-21);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
}
.samlltext {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-10);
  line-height: var(--line-spacing-15);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
}
h2 {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-30);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
  text-shadow: 0.1rem 0.08rem var(--lighterbrown);
}
.subheading16mobile {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--typecolor);
  text-align: center;
}

body {
  background-color: var(--backgroundbrown);
}
/*link*/
a {
  color: var(--typecolor);
  text-decoration: none;
}
a:hover {
  color: var(--highlighto);
}

footer {
  background-color: var(--lighterbrown);
  padding: 1rem;
  margin-top: 1em;
}
.highlight {
  font-family: var(--font-family-candara);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-30);
  letter-spacing: var(--character-spacing-0);
  color: var(--highlighto);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  min-height: 2.25rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
}
.intro {
  align-items: center;
}

button {
  padding: 0.3rem 0.5rem;
  margin-top: 1rem;
}

button:hover {
  background-color: var(--highlighto);
  color: var(--typecolor);
}

button:active {
  background-color: rgb(58, 40, 7);
}

/* #b1 {
  display: flex;

} */
article,
div {
  padding: 1rem 1.5rem;
}

.navbar img {
  max-width: 7rem;
}

figure {
  font-size: var(--font-size-10);
  color: lightgrey;
}

h1 {
  text-align: center;
}
.outer-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.2rem;
}
.inner-grid {
  flex: 50%;
  max-width: 50%;
  padding: 0 0.2rem;
}
.inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 0.01rem;
}

/* //full screen image */
@media screen and (max-width: 50em) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}

/*mobile*/
@media (max-width: 40em) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
  .navbar ul {
    display: none;
    background-color: var(--lighterbrown);
    padding: 2rem;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 35%;
    top: 100%;
    right: 0;
  }
  .navbar ul.active {
    display: flex;
  }
}

/*desktop*/
@media (min-width: 40em) {
  article {
    padding: 0 10rem;
  }
  .navbar button {
    display: none;
  }
  .navbar ul {
    display: flex;
    gap: 1rem;
  }
  h2 {
    font-size: 1.5em;
  }
}

.header-img {
  min-height: 15rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
p {
  /* max-width: 75ch; */
  padding-top: 0.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: var(--highlighto);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var(--lighterbrown);
  display: none;
  overflow: hidden;
  margin: 0;
}

button.active + .panel {
  display: block;
}

#scrollToTopBtn {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

/* .link-button {
  text-align: center;
  text-decoration: none;
  background: white;
  color: black;
  padding: 0.7em 0.7em;
  border-radius: 0.2em;
  margin-top: 5em;
} */
